#mainNav .navbar-collapse .navbar-sidenav > .nav-item #collapseComponents.sidenav-second-level > li > a{
    padding: 5px 5px 5px 40px;
  }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item #collapseComponents.sidenav-second-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item #collapseComponents.sidenav-second-level > li > a:hover{
  color: #0f7cc4;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item #collapseComponents.sidenav-second-level > li > a{
  color: #ffffff;
}
