#mainNav #logo img{
    max-height: 55px;
    /* min-width: 141px; */
    padding: 0px 0px 0px 40px;
}

#logo.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

#wrapper .list-group-item {
    padding: 0;
    margin-bottom: 5px;
}

/*Chỉnh font-size cho tên playlist*/
#playlist .canvas-wrapper a{
  font-size: 1rem;
}

/*Chỉnh font-size cho tên album*/
#album .canvas-wrapper a{
  font-size:1rem;
}
/*Chỉnh font-size cho tên chủ đề*/
#chude .canvas-wrapper a{
  font-size:1rem;
}

.main-content{
  margin-top: 65px;
}

#dropdown_User{
    padding: 0;
    margin: 3.5px;
}

#mainNav{
  padding: 0.3rem 1rem;
}

.bg-zikzak{
  background-color: #1db954;
}


#mainNav .navbar-collapse .navbar-sidenav > .nav-item:hover {
    background-color: #1ED760;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item.active {
    background-color: #1ED760;
}


#item-casi  .item-hover,#item-playlist .item-container .item-hover,#item-chude .item-container .item-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
}

#item-playlist .item-container, #item-chude .item-container{
  position: relative;
}

#item-casi .item-hover:hover,#item-playlist .item-container .item-hover:hover, #item-chude .item-container .item-hover:hover {
  opacity: 1;
}

#item-casi .item-hover .item-hover-content, #item-playlist .item-container .item-hover .item-hover-content, #item-chude .item-container .item-hover .item-hover-content{
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}


/*baihat.html*/
#item-Theloai #Ten-Theloai{
  font-weight: 600;
  font-size: 20px;
}

#item-Theloai .danhmuc_Theloai{
  border-bottom: 2px solid #DADFE1;
  padding-bottom: 10px;
  padding-top: 10px;
}

#item-Theloai #Chitiet-Theloai  .item-chitiet-Theloai{
  padding: 5px 0px;
  margin-left: 15px;
  margin-right: 15px;
}

#item-Theloai #Chitiet-Theloai .item-chitiet-Theloai{
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2px;
}

#item-Theloai #Chitiet-Theloai .item-chitiet-Theloai:hover{
  background-color: #E9D460;
}

#item-Theloai #Chitiet-Theloai .active{
  background-color: #E9D460;
}



#BaiHat-TBL .item-baihat .item-baihat-tenbaihat{
  font-size: 14px;
}

#BaiHat-TBL .item-baihat .item-baihat-tencasi{
  font-size: 12px;
  color: #9a9a9a;
}

#BaiHat-TBL .item-baihat .item-baihat-luotnghe{
  font-size: 14px;
}

#BaiHat-TBL .item-baihat .item-baihat-icon{
  margin: 10px;
}

.box_pageview {
  float: left;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 20px 0 20px 0;
  background: #e5e5e5;
}

.box_pageview a {
  padding: 7px 15px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.box_pageview a.active, .box_pageview a:hover {
  color: #e74c3c;
  border-bottom: #e74c3c solid 2px;
}

/*baihat.html*/


/*playlist.html*/
#item-playlist .item-container .item-playlist-luotnghe{
  position: absolute;
  right: 0;
  color: #fff;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
}
/*playlist.html*/

/* chu-de.html */
#item-chude .card-body .jumbotron {
  padding: 5px;
  background-color: #f7f7f7;
  margin-bottom: 0rem;
  }
#item-chude .card-body h4{
  line-height: 0.5;
}
#item-chude .card-body .jumbotron .card-title {
  padding-bottom: .25rem;
  margin-bottom: 0;
  }
#item-chude .card-body ul{
  list-style-type: circle;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 20px;
}
/* chu-de.html */


/*trinh-phat-nhac.html*/
audio {
  width: 100%;
  min-width: 0;
}

.name-title{
  display: block;
}
.name-title #tencasi{
  display: inline;
}

.name-title #tenbaihat{
  display: inline;
}

#menu-dichvu{
  float: right;
}

.service-bar{
  background-color: #DADFE1;
}

#menu-dichvu > li{
  margin: 18px;
  float: left;
}

#menu-dichvu > li> i{
  margin-right: 5px;
}

#menu-dichvu > ul > li> a{
  font-weight: 500;
}

.user-upload{
  margin-top: 12px;
  float: left;
  margin-left: 15px;
}

.user-upload #name-user-upload{
  position: absolute;
  float: right;
  margin-top: 10px;
}

.user-upload .profile-photo{
  margin: 5px;
}

.frm-comment .wrap-comment .text-input{
  width: 100%;
  height: 75%;
}

.comment{
  font-size: 14px;
  color: black;
}

.time-comment{
  font-size: 12px;
  color: #90949c;
}



/* trangcanhan_view start*/


.card .avatar-profile img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
  }

.src-image {
  display: none;
}

.card-user {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  background-color: #1db954;
  /* This positions the canvas under the text */
  z-index: 1;
}

.card .avatar-profile {
  position: relative;
  margin-top: -50px;
  z-index: 100;
}

.user-profile-details {
  margin: 20px 0;
}

.user-profile-details__line {
  margin-bottom: 14px;
}

  /* trangcanhan_view end*/}
